.frame1{
  border:2px solid black;
  widows: 622px;
  height: 500px;
  margin-top: 50px;
  padding:20px;
}

.frame1 span{
  width: 85px;
  height: 15px;
  left: 85px;
  top: 39px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  margin-left:13px;
}

div.button-tag button.tagpeople{
  background:#263251;
  border-radius: 44px;
  text-decoration: none;
  color:white;
  padding: 8px 28px;
  font-family: Roboto;
}

div.button-tag button:hover{
  color:white;
}

div.button-tag{
  margin-top: 178px;
}

button.backbutton{
  color:#525B74;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  background:#DDE2EF;
  border-radius: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
}

button.backbutton:hover{
  color:#525B74 !important;
}

span.tagpeople_text{
  color:rgba(38, 50, 81, 0.8);
  position: relative;
  left: 69.61%;
  right: 39.3%;
  top: 2.4%;
  bottom: 93.2%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.modal-header{
  padding: 12px;
  margin-bottom: 0px !important;
  border: none;
}

.search_box{
  background: #FFFFFF;
  border-radius: 8px;
  min-height: 32px;
}


div.modal-body{
  padding: 0px;
  overflow: hidden;
}

div.search_div input{
  border: 1px solid #CCDADF;
  border-radius: 45px;
  width:100%; 
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color:rgba(38, 50, 81, 0.8);
}

div.search_div{
  padding-right: 12px;
  padding-left: 12px;
}

div.search_div input:focus{
  outline: none !important;
}

body{
  font-family: Roboto !important;
}

div.search_result{
  min-height: 32px;
  min-width: 546px;
  margin-top:16px;
}



div.modal-content{
   width:570px;
   min-height: 417px;

}

span.select_people{
  display:block;
  color:rgba(38, 50, 81, 0.5);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-align: left !important;
  /* padding-top:10px !important; */
}

div.display_users{
  margin-top:10px;
  overflow-y: scroll;
  max-height: 250px;

  
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  max-height: 41px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #B9CCD7;
  border-radius: 10px !important;
  max-height: 41px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B9CCD7;
}

div.display_users_s{
  padding:8px 12px !important;
}

div.display_users_s span{
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #263251;
}

div.display_users_s:hover{
  background:#DDE2EF;
  cursor: pointer;
}

div.display_users_notags{
  color:blue;
}

div.no_tag_overlay{
  display:inline;
  opacity :0.2;
}

span.no_tag_text{
  color: #00465F;
  opacity: 0.5;
  padding-left: 50%;
}

div.selected_user_{
  padding:2px;
  margin-right: 7px;
  margin-top:5px;
  display: inline-block;
  padding:2px;
  background: #DDE2EF;
  border-radius: 4px;
}

div.selected_user_ span{
  color: #263251;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  max-width: 800px;
  padding-top: 9px;
}
div.search_result{
  padding:12px;
  padding-top:0;
  padding-bottom: 4px;
}

div.search_result_inner{
  background: #FFFFFF;
  border: 1px solid #CCDADF;
  border-radius: 8px;
  padding:14px;
  max-height: 106px;
  overflow: hidden;
  overflow-y: scroll;
}

div.done_button{
  display: flex;
  justify-content: center;
}

div.done_button button{
  background: #17C591;
  border-radius: 4px;
  color:white;
  padding: 7px 24px;
  margin-top:8px;
  border-top: 0px;
}

div.done_button button:hover{
  color:white;
}

span.tag_people_real{
  margin-left:10px;
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* or 150% */


color: rgba(38, 50, 81, 0.8);
}

span.search_text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */
  
  
  color: #000000;
  
  opacity: 0.5;
}

div.search_div_parent{
  position: relative;
}

span.search_icon_text{
  position: absolute;
  display: block;
  top:0;
  padding-top:4px;
  left:45%;
  margin-left: 0px;
  height: 32px;
  width:542px;
}

div.overlay_search{
  position: absolute;
  top:0;
  left:0;
  height: 32px;
  width:542px;
  z-index: 1;
}

div.overlay_search:hover{
  cursor: pointer;
}

span.search_icon_text:hover{
  cursor: pointer;
}

img.close_button_left_{
  position: relative;
  left:-10px;
}

img.close_button_left_:hover{
  cursor: pointer;
}